body {
    color:yellow;
    background:black;
    margin: 5px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 3px white;
    padding: 20px;
    font-size: 50px;
    color: rgb(255, 0, 0);
    font-family: "Bebas Neue", sans-serif;
}


.chamada{
    background: rgb(87, 85, 85);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria
{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid white
}

.categoria h2 {
    color:red;
}

.categoria-videos1{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria1
{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos1 img {
    opacity: 0.5;
    height: 200px;
    }
    
    .categoria-videos1 img:hover {
        opacity: 1.0;
        border: 2px solid white
    }
    
    .categoria h3 {
        color: rgb(255, 0, 0);
    }
    
    .categoria-videos2{
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    .categoria2
    {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    
    .categoria-videos2 img {
    opacity: 0.5;
    height: 200px;
    }
    
    .categoria-videos2 img:hover {
        opacity: 1.0;
        border: 2px solid white
    }
    
    .categoria h4 {
        color:red;
    }